.btn-abandon {
  position: absolute;
  top: 0;
  left: 0;
}

.btn-medium {
  margin: 0px 0px 16px !important;
}

.btn-small {
  font-size: 1rem;
  width: 5rem !important;
  height: 2rem !important;
  padding: 0px 5px;
  margin: 0px 0px 16px !important;
}

.chose-game-mode-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 10px !important;
}

.chose-game-mode-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px !important;
  margin-right: 2rem;
  margin-left: 2rem;
}
.chose-game-mode-element h4,
.chose-game-mode-element input {
  margin-bottom: 0;
}

.confirm-box {
  left: 10% !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.container * {
  margin-bottom: 2rem;
}

.container button {
  width: 8rem;
}

.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

.edit-container * {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.empty-vote {
  width: 1rem;
  height: 1.5rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.h1 {
  margin: 0px 0px 16px;
}

.h3 {
  margin: 0px 0px 16px;
}

.input-medium {
  margin-bottom: 16px !important;
}

.input-small {
  margin-bottom: 16px !important;
}

.nickname {
  font-size: 1.5rem;
  min-width: 6rem;
  max-width: 8rem;
}

.nickname-small {
  font-size: 1rem;
  min-width: 5rem;
}

.nicknames-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 0px 10px;
}

.player {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 16px;
}

.players-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 0px 0px;
}

.role-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px;
}

.round-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.say-word-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.screen {
  background-color: coral;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: 0px 0px 16px;
}

.timer-text {
  margin: 0px;
}

.vocabulary-background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  width: 100%;
  background-image: url(../images/papel_quadriculado.png),
    url(../images/papel_quadriculado.png);
  background-position-y: 0%, 150%;
  background-repeat: repeat-y, repeat-y;
  background-size: 100%, 100%;
  margin-bottom: 10px !important;
}
.vocabulary-grid {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.vocabulary-grid h5 {
  font-size: 0.8rem;
}

.vocabulary-grid div {
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
}
.vocabulary-grid h5 {
  padding: 0;
  margin: 0;
}

.votes {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-bottom: 0;
}

.vote {
  width: 1rem;
  height: 1.5rem;
  border: 1px solid black;
  background: red;
  margin-bottom: 0;
  margin-left: 0.5rem;
}
