.btn-abandon {
  position: absolute;
  top: 0;
  left: 0;
}

.chose-game-mode-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chose-game-mode-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  margin-right: 2rem;
  margin-left: 2rem;
}
.chose-game-mode-element h4,
.chose-game-mode-element input {
  margin-bottom: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.container * {
  margin-bottom: 2rem;
}

.container button {
  width: 8rem;
}

.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-container * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.empty-vote {
  width: 1rem;
  height: 1.5rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nickname {
  font-size: 1.5rem;
  min-width: 8rem;
}

.nicknames-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player {
  display: flex;
  flex-direction: column;
}

.players-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.role-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.say-word-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  background-color: coral;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vocabulary-background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  width: 100%;
  background-image: url(../images/papel_quadriculado.png),
    url(../images/papel_quadriculado.png);
  background-position-y: 0%, 150%;
  background-repeat: repeat-y, repeat-y;
  background-size: 100%, 100%;
}
.vocabulary-grid {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.vocabulary-grid div {
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
}
.vocabulary-grid h5 {
  padding: 0;
  margin: 0;
}

.votes {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-bottom: 0;
}

.vote {
  width: 1rem;
  height: 1.5rem;
  border: 1px solid black;
  background: red;
  margin-bottom: 0;
  margin-left: 0.5rem;
}
